<!-- <div id="personal" class="sec1 sec" class="position: relative">
  <h1 class="titles">Personal</h1>
  <div class="aboutcon">
  <p><a href="https://devmountain.com"><span>#DevMountain</span></a> graduate ready to get to work!</p>

  <p><a href="https://twitter.com/statemaryland?lang=en"><img src="styles/imgs/maryland.png" class="md"></a><a href="https://twitter.com/statemaryland?lang=en">@Maryland</a> born and raised</p>

  <p><a href="https://www.subaru.com"><span>#Subaru</span></a> Enthusiast! </p>

  </div>
</div> -->


